.badge {
  display: flex;
  align-items: center;
  padding: 10px 12px;
  border-radius: 4px;
  cursor: pointer;
  transition: 
    background-color .1s ease-out,
    box-shadow .1s ease-out;

  &:hover,
  &--active {
    background-color: #fff;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.03);
  }

  &:hover {
    .badge__remove {
      visibility: visible;
      opacity: 1;
    }
  }

  &__remove {
    display: flex;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    margin-left: auto;
    cursor: pointer;
    transition:
      opacity .3s ease-out,
      transform .2s ease-out;

    &:hover {
      transform: scale(1.1);
    }
  }
}