.button {
  width: 100%;
  border-radius: 4px;
  padding: 8px 15px;
  cursor: pointer;

  
  &--primary {
    color: #fff;
    background-color: #4DD599;
  
    &:hover {
      background-color: darken(#4DD599, 10)
    }
  }

  &--secondary {
    color: #9C9C9C;
    background-color: #F4F6F8;

    &:hover {
      background-color: darken(#F4F6F8, 5)
    }
  }
}