.tasks {
  &__category-title {
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 32px;
    line-height: 39px;
    letter-spacing: normal;
    color: #64C4ED;
    padding-bottom: 20px;
    border-bottom: 1px solid #F2F2F2;
  }
}