html,
body {
  height: 100%;
}

html {
  box-sizing: border-box;
  font-size: 14px;
  letter-spacing: 0.5px;
}

body {
  margin: 0;
  font-family: Lato, Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

ul {
  list-style-type: none;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  font-size: inherit;
}

#root {
  height: 100%;
}

.container {
  padding: 20px 10px 20px;
  margin: 0 auto;
  max-width: 800px;
  height: 100%;
}

/* TODO */

.todo {
  display: flex;
  height: 100%;
  box-shadow: 5px 5px 10px #f3f3f3;
  border: 1px solid #F1F1F1;
  border-radius: 8px;
  overflow: hidden;

  & > * {
    height: 100%;
  }

  &__sidebar {
    width: 250px;
    padding: 48px 20px;
    background-color: #E5E5E5;
    border-right: 2px solid #F1F1F1;
  }

  &__tasks {
    flex-grow: 1;
    padding: 48px 20px;
    overflow-y: auto;
  }
}